
#title {
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
}
.placeholder {
    position: relative; /* Placeholder covers video players in Chrome */
    z-index: -999;
}
.video {
    padding: 2em 0;
}
:root {
    --color_1: #fff;
    --main-color: #1dd1a1;
}
.box {
    font-family: 'Niramit', sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 5px #888888;
    border: 2px solid var(--el-border-color-base);
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);*/
}
.box:hover {
    cursor: pointer;
}
.box:before,
.box:after,
.box-content:before,
.box-content:after {
    content: '';
    background: linear-gradient(transparent,rgba(67,101,237,0.9));
    height: 100%;
    width: 25%;
    transform: translateY(-100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s;
}
.box:hover:before,
.box:hover:after,
.box:hover .box-content:before,
.box:hover .box-content:after {
    transform: translateY(0);
}
.disable_animation:hover:before,
.disable_animation:hover:after,
.disable_animation:hover .box-content:before,
.disable_animation:hover .box-content:after {
    transform: translateY(-100%);
}
.box:after{ left: 25%; }
.box .box-content:before { left: 50%; }
.box .box-content:after { left: 75%; }
.box:hover:before { transition-delay: 0.225s; }
.box:hover:after { transition-delay: 0.075s; }
.box:hover .box-content:before { transition-delay: 0.15s; }
.box:hover .box-content:after { transition-delay: 0s; }
.box img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease 0s;
}
.box:hover img { filter: grayscale(100%); }
.box .box-content {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s;
}
.content {
    width: 100%;
    padding: 7px 0;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 2;
    transition: all 0.3s ease 0.1s;
}
.box:hover .content {
    opacity: 1;
    bottom: 5px;
}
.box .title {
    color:#fff;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.box .post {
    color: var(--main-color);
    font-size: 16px;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}
.box .icon {
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translateX(-50%);
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 2;
    transition: all 0.5s ease 0.3s;
}
.box .icon li {
    opacity: 0;
    transform: scale(0) rotate(360deg);
    transition: all 400ms;
}
.box:hover .icon li {
    opacity: 1;
    transform: scale(1) rotate(0);
}
.box .icon li a {
    color: var(--color_1);
    background-color: var(--main-color);
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    margin-bottom: 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    transition: all 0.3s;
}
.box .icon li a:hover {
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--color_1);
    border-radius: 0 20px 0 20px;
}

[class*="col-"] {
    padding: 10px;
}

@media only screen and (min-width:479px) {
    .box .title{ font-size: 20px; }
}
@media only screen and (min-width:990px) {
    .box { margin-bottom: 30px; }
    [class*="col-"] { padding: 10px; }
}
@media only screen and (min-width:1900px) {
    /* 1920 x 1080 */
    [class*="col-"] {
        padding: 20px;
    }
    .container { width: 1800px; }
}
@media only screen and (min-width:2500px) {
    /* 2560 x 1440 */
    [class*="col-"] {
        padding: 30px;
    }
    .container { width: 2400px; }
}
@media only screen and (min-width:3800px) {
    /* 3840 x 2160 */
    [class*="col-"] {
        padding: 30px;
    }
    .container { width: 3000px; }
}