@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

body {
  font-family: 'Jost', sans-serif;
  background-color : #212121;
}

h1 {
  color: white;
  font-size: 36px;
  text-align: center;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-bottom: 50px;
}

.media {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.media:hover {
  cursor: pointer;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.media:hover .overlay {
  opacity: 1;
}

img {
  width: 100%;
  z-index: -1;
  margin: auto;
  transform: scale(1);
  transition: all ease-in-out 0.5s;
}

.media:hover img {
  transform: scale(1.1);
  filter: blur(2px);
}

.image-details {
  text-align: center;
  color: white;
  font-size: 20px;
  z-index: 4;
  position: absolute;
  top: 100%;
  opacity: 0;
  transition: all ease-in-out 0.5s;
}

.media:hover .image-details {
  top: 40%;
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .media {
    width: 70%;
    height: 70%;
  }
}